



/******************日历内容********************/
.calender_table tr .weekend {
    color: #e02d2d;
}
.calender_table tr:first-child th {
    height: 34px;
    font-weight: 400;
    font-size: 14px;
    width: calc(100%/7);
    border-top: 1px solid #5af;
    box-sizing: border-box;

}
.calender_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.calendar {
    font-size: 1.6rem;
    margin-top: 10px;
}
.right_content {
    font-size: 13px;
    height: 100%;
}
.dates {
    margin-top:10px;
    padding-top: 10px;
    font-family: arial;
    word-break: break-word;
    font-size: 1.6rem;
}
.ji_hao {
    position: relative;
    width: 75px;
    height: 75px;
    top: 5px;
    margin: 0 auto;
    line-height: 76px;
    font-size: 52px;
    background: #fb0;
    border-radius: 3px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.1), -1px 2px 5px rgba(0,0,0,.1);
}

/*****************日历选择栏******************/
.year_list {
    border: 1px solid #bbb;
    width: inherit;
    height: 314px;
    overflow: auto;
    box-sizing: border-box;
    margin-left: -1px;
    position: relative;
    top: -2px;
    background: #fff;
}
.year_list li {
    height: 26px;
    line-height: 26px;
    cursor: pointer;
}
.year_list li:hover{
    background: #f5f5f5;
}
.year_list .cur_year {
    background: #f5f5f5;
}
.holiday_box {
    box-sizing: border-box;
    /* width: 95px; */
    height: inherit;
    display: inline-block;
    border: 1px solid #999;
    border-bottom-color: #d8d8d8;
    border-right-color: #d8d8d8;
    /* margin-left: 8px; */
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.month_list {
    position: relative;
    top: -2px;
    left: -22px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    cursor: pointer;
    background: #fff;
    width: calc(100% + 44px);
}
.month_list li {
    height: 26px;
    line-height: 26px;
    background: transparent;
}
.month_list li:hover{
    background: #f5f5f5;
}
.month_list .cur_month {
    background: #f5f5f5;
}
.month {
    box-sizing: border-box;
    height: 26px;
    line-height: 26px;
    position: relative;
    cursor: pointer;
    border-right: 1px solid#d8d8d8;
    border-left: 1px solid#d8d8d8;
    cursor: pointer;
    text-align: center;
}
.month:hover {
    background: #93c9ff;
    color: #fff;
}
.month:hover .triangle {
    border-color: #fff transparent transparent;
}
.month .triangle{
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px 5px 0;
    border-style: solid;
    border-color: #a7a7a7 transparent transparent;
    position: absolute;
    top: 9px;
    right: 6px;
}
.right_btn {
    width: 21px;
    text-align: center;
    line-height: 23px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.left_btn {
    width: 21px;
    text-align: center;
    line-height: 23px;
    position: absolute;
    left: 0;
    cursor: pointer;
}
.year {
    float: left;
    text-align: center;
    line-height: 26px;
    margin-left: 13px;
}
.btn_year .triangle{
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px 5px 0;
    border-style: solid;
    border-color: #a7a7a7 transparent transparent;
    margin-top: 9px;
}
.btn_year {
    height: 100%;
    width: 23px;
    border-left: 1px solid #d9d9d9;
    text-align: center;
    float: right;
}
.month_box {
    width: 100%;
    height: 26px;
    padding: 0 22px;
    display: inline-block;
    float: left;
    border: 1px solid #999;
    border-bottom-color: #d8d8d8;
    border-right-color: #d8d8d8;
    box-sizing: border-box;
    position: relative;
}
.year_box {
    height:inherit;
    width: 100%;
    border: 1px solid #999;
    border-bottom-color: #d8d8d8;
    border-right-color: #d8d8d8;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    cursor: pointer;
}
.select_box {
    height: 26px;
    display: inline-block;
    float: left;
}
.back_today {
    width: 52px;
    float: right;
    display: inline-block;
    padding: 0 14px;
    margin: 0;
    height: 24px;
    line-height: 25px;
    font-size: 13px;
    border: 1px solid #d8d8d8;
    cursor: pointer;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: #f9f9f9;
    overflow: hidden;
    outline: 0;
}
.year_month_day {
    width: 100%;
    font-size: 1.2rem;
    height: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
.cal_box {
    height: calc(100% - 20px);
    z-index: 1;
    padding: 10px;
}
.cal_wrap {
    width: 100%;
    height: 100%;
}
.cal_wrap_left {
    border: 2px solid #57abff;
    width: inherit;
    padding: 10px;
    height: 30.5rem;
    z-index: 1;
    box-sizing: border-box;
}
.cal_wrap_right {
    color: #fff;
    text-align: center;
    height: calc(100% - 372px);
    background: #5caeff;
    background: -webkit-gradient(linear,0 0,0 100%,from(#5af),to(#73b9ff));
}