




.tr .td:nth-child(6), .tr .td:nth-child(7) {
    color: #e02d2d;
}
.active {
    background: #fb0;
    color: #fff;
}
.same_date {
    border:3px solid #fb0 !important;
}
.last_days {
    color: #bfbfbf;
}
.td {
    width: calc(100%/7);
    box-sizing: border-box;
    padding: 0;
    border-top:1px solid #c8cacc;
    cursor: pointer;
}
.td a {
    display: inline-block;
    width: 3.4rem;
    border:3px solid transparent;
}
.td a:hover {
    border:3px solid #fb0;
}
.td_gray {
    color: #bfbfbf;
}
.calender_table tr:first-child th{
    font-size: 1.5rem;
}